*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
#faq{
    min-width: 360px;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding: 30px 20px;
    background-color: #eee;
}
#faq> h2{
    font-size: 1.8em;
}
#faq > .faq-block{
    padding: 0 20px;
    border: 1px solid #000;
    margin-bottom: 10px;
}
#faq .faq-question{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
#faq .faq-question span{
    background-color: #000;
    color: #fff;
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 50%;
}
#faq .faq-ask{
    max-height: 0;
    overflow: hidden;
    margin: 0;
    text-align: justify;
    transition: max-height 0.5s ;
}
#faq .open{
    max-height: 1000px;
}

